@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #E6AF2E;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw auto;
}

.content {
  background-color: #fff;
}

.navigation {
  padding-top: 30%;
  background-color: #191D32;
  display: flex;
  flex-direction: column;
    text-align: center;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  
}

.nav-link:hover,
.is-active
 {
  background-color: #0f1220;
}

.no-wallet {
 display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  padding: 20px;
  margin-top: 20%;
  font-size: 2.5rem;
  text-align: center;
}

.action-btn {
  display: inline-block;
  background-color: #191D32;
  text-align: center;
  text-decoration: none;
  font-size: 1.75rem;
  border-radius: 3px;
  cursor: pointer;
  
}

.create-wallet-btn {
  margin-top: 50px;
  padding: 5px 50px;
}

.create-wallet-btn:hover {
  background-color: #E6AF2E;
  color: #0f1220;
  border: 1px solid #0f1220;
}