@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #E6AF2E;
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20vw auto;
}

.content {
  background-color:#fff;
  overflow-y: auto;
  
}

.navigation {
  padding-top: 30%;
  background-color: #191D32;
  display: flex;
  flex-direction: column;
    text-align: center;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  
}

.nav-link:hover,
.is-active
 {
  background-color: #0f1220;
}

.no-wallet {
  background-image: url("./assets/wallet.jpg");
  background-size: cover;
 display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  /* padding: 20px; */
  /* margin-top: 20%; */
  font-size: 2rem;
  text-align: center;
  min-height: 100vh;
}

.action-btn {
  display: inline-block;
  background-color: #191D32;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #fff;
  
}

.create-wallet-btn {
  margin-top: 50px;
  padding: 5px 50px;
}

.create-wallet-btn:hover {
  background-color: #E6AF2E;
  color: #0f1220;
  /* border: 1px solid #0f1220; */
}

.wallet-img {
  /* transform: scale(.25); */
  width: 35vw;
  height: auto;
  padding: 50px;
}

.create-wallet-container {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  padding: 50px 0;
}


.wallet-form {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-rows: 40px 50px 30px;
  grid-template-columns:70% 10% 10% ;
  padding: 20px 0;
  text-align: center;
  justify-self: center; 
  grid-column-gap: 30px;
}

.bottom-buttons {
  padding: 20px 0;
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.model-assets-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;;
  margin: 0 auto;
  padding: 30px 0;
}

.modal-body {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  font-size: 1.8rem;
}


.label {
  font-size: 1.5rem;
}

.add-btn {
  background-color: #191D32;
  border: none;
  font-size: unset;
}

.test {
  text-align: center;
}

.assets-list {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  
}

.heading-info {
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
  text-transform: uppercase;
}